{% extends "cciw/standard.html" %}

{% block content %}
  <h2 class="with-camp-colors-{{ camp.slug_name }}">Information</h2>

  {% if camp.special_info_html %}
    {{ camp.special_info_html|safe }}
  {% endif %}

  <table class="sideheaders">
    <tr>
      <th scope="row">Location:</th>
      <td><a href="{{ camp.site.get_absolute_url }}">{{ camp.site.short_name }}</a></td>
    </tr>
    <tr>
      <th scope="row">Date:</th>
      <td>{{ camp.start_date|date:"d M"}} - {{ camp.end_date|date:"d M Y" }}</td>
    </tr>
    <tr>
      <th scope="row">Age:</th>
      <td>{{ camp.age }}</td>
    </tr>
    {% if camp.next_camp %}
      <tr>
        <th scope="row">Following camp:</th>
        <td>
          {{ camp.next_camp.get_link }}
          {{ camp.next_camp.bracketted_old_name }}
        </td>
      </tr>
    {% endif %}
    {% if camp.previous_camp %}
      <tr>
        <th scope="row">Previous camp:</th>
        <td>
          {{ camp.previous_camp.get_link }}
          {{ camp.previous_camp.bracketted_old_name }}
        </td>
      </tr>
    {% endif %}
    <tr>
      <th scope="row">Leaders:</th>
      <td>
        {% for leader in camp.leaders.all %}
          <h3>{{ leader.name }}</h3>
          <p>
            {{ leader.info|linebreaksbr }}
          </p>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th scope="row">Chaplain:</th>
      <td>
        {% if camp.chaplain %}
          <h3>{{ camp.chaplain.name }}</h3>
          <p>
            {{ camp.chaplain.info|linebreaksbr }}
          </p>
        {% else %}
          TBA
        {% endif %}
      </td>
    </tr>
    {% if camp.year == thisyear and is_booking_open %}
      <tr>
        <th scope="row">Places:</th>
        <td>
          {% if camp.is_open_for_bookings %}
            {% with total=camp.get_places_left.0 %}
              {% if total > 0 %}
                {% if total < 5 %}
                  <p>Very few places available!</p>
                {% else %}
                  <p>Places still available!</p>
                {% endif %}

                {% if camp.closes_for_bookings_on == today %}
                  <p>This camp closes for bookings today - hurry!</p>
                {% else %}
                  <p>This camp will close for bookings on {{ camp.closes_for_bookings_on|date:"j F" }}.</p>
                {% endif %}

                <p><a class="booknow" href="{% url 'cciw-bookings-start' %}">Book online now!</a></p>
                <a href="{% url 'cciw-bookings-index' %}">See other booking options and prices</a>
              {% else %}
                No more places available on this camp, sorry.
                {% if camp.slug_name == "green" %}
                  <p>We're sorry camp green is full. However do note <a href="/camps/2016/yellow/">camp yellow</a>
                    has spaces and is the sister camp of camp green (having been
                    one camp last year), just 4 miles down the road with many of
                    the same leaders and helpers.</p>
                {% endif %}
              {% endif %}
            {% endwith %}
          {% else %}
            <p>This camp is now closed for bookings, sorry.</p>
          {% endif %}
        </td>
      </tr>
    {% endif %}
  </table>

{% endblock %}
