{% extends "cciw/standard.html" %}
{% load standardpage %}
{% block content %}
  {% if camps %}
    {% htmlchunk camp_dates_intro_text %}
    <h2>Dates</h2>
    <div>
      <table class="topheaders responsive" summary="Details of all camps running in {{ thisyear }}">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Dates</th>
            <th scope="col">Leaders</th>
            <th scope="col">Chaplain</th>
          </tr>
        </thead>
        <tbody>
          {% regroup camps by site_id as campgroups %}
          {% for campgroup in campgroups %}
            <tr>
              <th scope="rowgroup" colspan="5" class="site-division full-width">
                <a href="{{ campgroup.list.0.site.get_absolute_url }}">{{ campgroup.list.0.site }}</a>
              </th>
            </tr>


            {% for camp in campgroup.list %}
              <tr>
                <td data-label="Name"
                  class="with-camp-colors-{{ camp.slug_name }}"
                >
                  <a href="{{ camp.get_absolute_url }}"
                    title="{{ camp.nice_name }}">{{ camp.name }}</a></td>
                <td data-label="Age">{{ camp.age  }}</td>
                <td data-label="Dates">{{ camp.nice_dates }}</td>
                <td data-label="Leaders">
                  <a href="{{ camp.get_absolute_url }}"
                    title="{{ camp.nice_name }}">
                    {{ camp.leaders.all|join:", " }}
                  </a>
                </td>
                <td data-label="Chaplain">{% if camp.chaplain %}{{ camp.chaplain }}{% else %}TBA{% endif %}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% htmlchunk camp_dates_outro_text %}
  {% else %}
    <p>Information for camps in {{ thisyear }} is not yet available. You can
      browse our list of <a href="{% url "cciw-cciwmain-camps_index" %}">previous camps</a>
      for information about our recent leaders and chaplains.
    </p>
  {% endif %}


{% endblock %}
