{% extends "admin/base.html" %}

{% load compress %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {% compress js %}
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/cciwutils.js" %}"></script>
  {% endcompress %}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "css/adminextra.scss" %}" />
  {% endcompress %}
{% endblock %}

{% block branding %}
  <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:"CCiW Officers" }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}


{% block usertools %}
  {# override whole block to avoid passing 'has_permission' which is in default usertools block #}
  <div id="user-tools">
    {% block welcome-msg %}
      Welcome
      <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
      {% if has_permission %}
        <a href="{% url 'admin:index' %}">Admin</a> /
      {% endif %}

      <a href="{% url 'cciw-officers-index' %}">Officer homepage</a> /

      <a href="{% url 'admin:logout' %}">Log out</a>
    {% endblock %}
  </div>
{% endblock %}
