{% extends "admin/base_site.html" %}
{% load static %}

{% block breadcrumbs %}{% endblock %}

{% block title %}CCiW Officers{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
  <script type="text/javascript" src="{% static "js/htmx-1.7.0.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/modernizr.custom.08138.js" %}"></script>
  {% if form %}
    {{ form.media }}
  {% endif %}
{% endblock %}
