{% extends "cciw/officers/stats_base.html" %}

{% load json_filters %}

{% block title %}Camper ages stats {% if start_year %}{{ start_year }}-{{ end_year }}{% endif %} | CCiW Officers{% endblock %}

{% block content %}
  <div id="content-main">
    <div style="width:800px;height:400px;"
      data-chart="{{ chart_data }}"
      data-chart-colors="{{ colors_data|jsonify }}"
      data-booking-ages-stats-chart-placeholder="true"
      data-stack-columns="{{ stack_columns|yesno:"true,false" }}"
    >
    </div>

    <h2>Data</h2>

    <p>Download raw data:
      {% if camp_ids %}
        <a href="{% url 'cciw-officers-booking_ages_stats_custom_download' camp_ids=camp_ids %}?format=xls">XLS</a></p>
      {% else %}
        <a href="{% url 'cciw-officers-booking_ages_stats_download' start_year=start_year end_year=end_year %}?format=xls">XLS</a></p>
      {% endif %}
    </div>
{% endblock %}
