<p><strong>NOTE</strong>:</p>
<ul>
  <li>You need to send your email from the email address on record for your
    CCiW account - <b>{{ request.user.email }}</b> - or your email will be discarded.</li>

  <li>You may need to email your officers (using the downloaded list) and tell them
    to add 'noreply@cciw.co.uk' to their 'white list', to ensure that emails from this
    address are not classified as junk mail.</li>

  <li>The recipients will not see the above list address or other
    people's addresses, only their own.</li>

  <li>Please keep this address private.  When emailing to this
    address, please do not add any other recipients to the email,
    since they will be able to see the above address on their
    email.</li>

</ul>
