{% load static %}
<div  id="id_officer_list_table">
  <p>Total: {{ invitations|length }}</p>
  <table class="tablesorter">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Leader's notes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for invite in invitations %}
        <tr data-officer-id="{{ invite.officer.id }}">
          <td>{{ invite.officer.first_name }}</td>
          <td>{{ invite.officer.last_name }}</td>
          <td><a href="mailto:{{ invite.officer.email }}">{{ invite.officer.email }}</a></td>
          <td>{{ invite.notes }}</td>
          <td>
            <button data-edit-button>
              <img src="{% static "admin/img/icon-changelink.svg" %}" alt="Edit" title="Edit" />
              Edit
            </button>
            <button data-remove-button>
              <img src="{% static "images/officer-list-remove.gif" %}" alt="Remove" title="Remove">
              Remove
            </button>
            <button data-email-button>
              <img src="{% static "images/sendemail.gif" %}" alt="Re-send initial email" title="Re-send initial email" />
              Resend email
            </button>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">
            No officers found
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
