<details {% if expand_details %}open{% endif %}>
  <summary>
    Officer information data retention rules:
  </summary>
  <ul>
    <li>This data may be shared only with <b>leaders</b> or the designated
      CCiW officers who assist leaders with tasks relating to officers, and
      all such people must be aware of and abide by these rules.</li>
    <li>If downloaded, the data must be stored <b>securely</b> only on devices that
      unauthorized people do not have access to. Data must be stored in an <b>organized</b>
      fashion that enables you to find and delete it later.</li>
    <li>Officer addresses must be <b>deleted</b> from your electronic devices and
      online storage, including any copies you have made (such as attachments in
      emails and backups), <b>within 1 year of the end of the camp</b> they pertain to.</li>
    <li>You may not share this information with any third parties.</li>
  </ul>
</details>
