{% extends "cciw/officers/stats_base.html" %}

{% block title %}Officer stats {{ year }} | CCiW Officers{% endblock %}

{% block content %}
  <div id="content-main">
    <h1>Stats {{ year }}</h1>
    <p>Charts span the year leading up to the start date of the camp.</p>
    <p>Exact numbers can be seen by hovering your mouse over the charts.</p>

    {% for camp, chart in charts %}
      <div style="float:left; margin: 30px 20px 30px 0;">
        <div id="camp-graph-{{ camp.slug_name }}"
          style="width:600px;height:300px;"
          data-chart="{{ chart }}"
          data-url-officer-list="{% url "cciw-officers-officer_list" camp_id=camp.url_id %}"
          data-url-manage-dbss="{% url "cciw-officers-manage_dbss" year=year %}?camp={{ camp.slug_name }}"
          data-url-manage-applications="{% url "cciw-officers-manage_applications" camp_id=camp.url_id %}"
          data-url-manage-references="{% url "cciw-officers-manage_references" camp_id=camp.url_id %}"
          data-officer-stats-chart-placeholder="true"
        >
        </div>
      </div>
    {% endfor %}

    <div style="clear: both;">
      <canvas height="50">
        Your browser is obsolete, and won't display the graphs above. Please upgrade
        to <a href="http://abetterbrowser.org/">a better browser</a>.
      </canvas>
    </div>

    <p>Notes:</p>

    <ul>
      <li>Ideally all lines should reach the 'Officer list' line by the start
        of camp.</li>
      <li>Some data may be inaccurate where we do not have full past records.</li>
    </ul>

    <h2>Data</h2>

    <p>Download raw data: <a href="{% url 'cciw-officers-officer_stats_download' year=year %}?format=xls">XLS</a></p>

  </div>
{% endblock %}
